@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500;1,700&family=Montserrat:wght@600&display=swap');
*   {
    font-family: 'Barlow', sans-serif;
font-family: 'Montserrat', sans-serif;
margin: 0px;
}
body{
    margin:0px;
    background-color: #f8f9fa;
}
.navb{
    display: flex;
    height:65px;
    width: 100%;
    align-items: center;
    background-color: #212529;
    justify-content: space-between;
    font-family: 'Young Serif', serif; 
    color: #f8f9fa;
}
.left{
    margin-left: 20px;
    width: 320px;
    font-size: 20px;
}

.right{
    width: 690px;
    text-align: center;  
}
.end{
    margin: 1rem;
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
    font-size: x-large;
}
.butt{
    font-size: 21.5px;
    font-family: 'Young Serif', serif;
    margin: 1rem;
    height: 38px;
    width: 119.5px;
    color: #212529;
    background-color: #f8f9fa;
    border-radius: 35px;
    border: none;
}
:hover.end{
    color: rgb(165, 162, 162);
}
:hover.butt{
    color:black; 
    background-color:rgb(165, 162, 162) ;
}
.wrapper
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #737e89d0;
    background-color: #212529;
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    width: fit-content;
    color: white;
}

.sec1
{
    grid-column: 1;
    grid-row: 1;
}
.sec2
{
    grid-column:2;
    grid-row: 1;
}
.sec3
{
    grid-column: 3;
    grid-row: 1;
}
.sec4
{
    /* for full width */
    grid-column: 1/-1;  
    padding: 10px;
}

.col{
    height:fit-content;
    padding: 20px;
    
}
span
{
    font-size: small;
    color: white;
}
h3
{
    margin: 0px;
}

button
{
    border-radius: 20px;
    border: none;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin: 10px;
    color: #212529;
    border: solid;
    border-width: 1.5px;
    background-color: white;

}
.white
{
    background-color:#1335de00;
    color:#d8e8fb;
    border: solid 1.5px;
}

:hover.white
{
    background :none;;
    color:#d8e8fba6;
}
:hover.light-button-hover
{
    background: none;
    color: whitesmoke;
}